
	<div class="header">
  		<div class="container">
        <h1>Quiz App</h1>
  		</div>
  </div>
	
  <div class="question">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h3>Question <%= @question.order %></h3>
        
          <h2><%= @question.q_string %></h2>

        </div>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="form">
      <% action_path = "/questions/submit/" + @question.id.to_s %>
      <%= form_tag(action_path, method: :post) do %>
        <% @answers.each do |a| %>
          <%= check_box_tag(("a"+a.id.to_s).to_sym) %>
              <%= label_tag(("a"+a.id.to_s).to_sym, a.a_string) %>
        <% end %>
    </div>
    <div class="actions">
      <%= submit_tag("Submit") %>
    </div>
      <% end %>
  </div>
</div>