
	<div class="header">
  		<div class="container">
        <h1>Quiz App</h1>
  		</div>
  </div>
	
  <div class="question">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h3>Question <%= @question.order %></h3>
        
          <h2><%= @question.q_string %></h2>

        </div>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="container">

      <form action="" method="post">
        <%= @answers.each do |a| %>
        <input type="checkbox" name="answers" value="blah" > <%= a.a_string %> <br />
        <% end %>  
      </form>

    </div>
  </div>


  <div class="next_question">
    <%= link_to "Next Question",question_path(@next_question) if @last_question==0 %>
    <%= link_to "Finish Quiz",'/quizzes/'+@quiz_id.to_s unless @last_question==0 %>
  </div>
</div>